@import "tailwindcss";
@import "./theme.css";

body {
  background-color: var(--color-background);
  background-image: radial-gradient(circle, #222 1px, transparent 1px);
  background-size: 28px 28px;
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
